# Database
DATABASE_URL=postgresql://user:password@host:port/database

# JWT
JWT_SECRET=your_jwt_secret_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=dpxefz80w
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Africa's Talking
AT_USERNAME=your_username
AT_API_KEY=your_api_key

# MTN MoMo
MOMO_SUBSCRIPTION_KEY=your_subscription_key
MOMO_API_USER=your_api_user
MOMO_API_KEY=your_api_key

# Airtel Money
AIRTEL_CLIENT_ID=your_client_id
AIRTEL_CLIENT_SECRET=your_client_secret
AIRTEL_BASE_URL=https://openapi.airtel.africa

# Sentry
SENTRY_DSN=your_sentry_dsn

# JaaS 8x8.vc
JAAS_APP_ID=your_jaas_app_id
JAAS_APP_SECRET=your_jaas_app_secret
